<h2 class='page_hdr'>Beer Styles</h2>

<container class='siz30l'>
  <div>
    <% @beer_styles.each do |beer_style| %>
      <div class="list-group-item">
        <ul class="ul_list">
          <li><%= link_to(beer_style.style, beer_style_path(beer_style.id), :class => 'link_line')%></li>
        </ul>
      </div>
    <% end %>
  </div>
</container>
<container class='siz60r'>
  <div>
    <ul class="ul_list">
      <li><%= link_to 'Make a match', new_match_path, :class => 'link_line' %></l1>
      <li><%= link_to 'Add a beer style', new_beer_style_path, :class => 'link_line' %></l1>
    </ul>
    <h3 class='info_hdr'>What's a beer style?</h3>
    <p>
      Simply put, a beer style is a label given to a beer that describes its overall character and often times its origin. It's a name badge that has been achieved over many centuries of brewing, trial and error, marketing, and consumer acceptance. Our styles reflect a spin on the constantly evolving world of beer, with non-geek descriptions broken down for all to understand. Click on any of the styles on the left to find out more about them, including recommendations for Food Pairings.
    </p>
    <p>
      Note: This is not the bible for beer styles, but should be viewed as a work-in-progress and a fun reference that's open to change and interpretation.
    </p>
    <h3 class='info_hdr'>What's an Ale?</h3>
    <p>
      This category of beer uses yeast that ferments at the "top" of the fermentation vessel, and typically at higher temperatures than lager yeast (60°-75°F), which, as a result, makes for a quicker fermentation period (7-8 days, or even less). Ale yeast are known to produce by-products called esters, which are "flowery" and "fruity" aromas ranging, but not limited to apple, pear, pineapple, grass, hay, plum, and prune.
    </p>
    <h3 class='info_hdr'>What's a Lager?</h3>
    <p>
      The word lager comes from the German word lagern which means, "to store". A perfect description as lagers are brewed with bottom fermenting yeast that work slowly at around 34 degrees F, and are often further stored at cool temperature to mature. Lager yeast produce fewer by-product characters than ale yeast which allows for other flavours to pull through, such as hops.
    </p>
  </div>
</container>
