<h2>beer_styles - index page</h2>

<container class='siz40'>
  <div>
    <% @beer_styles.each do |beer_style| %>
      <div class="list-group-item">
        <ul class="food">
          <li><%= link_to(beer_style.style, beer_style_path(beer_style.id))%></li>
          <p>And more stuff</p>
        </ul>
      </div>
    <% end %>
  </div>
</container>
<container class='siz40'>
  <div>Some groovy stuff on beer styles</div>
</container>
