<h2>beer styles - show page</h2>
<container class='siz40'>
  <div>
    <p>Style: <%= @beer_style.style %></p>
    <p>Style Note   : <%= @beer_style.style_note %></p>
  </div>
</container>
<container class='siz40'>
  <div>
    <li><%= beer.name></li>
  </div>
</container>
<container class='siz40'>
  <div>
    <p>Container three to put groovy stuff in</p>
  </div>
</container>