<h2>beer styles - show page</h2>
<container class='siz40'>
  <div>
    
  </div>
</container>
<container class='siz40'>
  <div>

  </div>
</container>
<container class='siz40'>
  <div>
    <p>Container three to put groovy stuff in</p>
  </div>
</container>