<h2>Beers - Index page</h2>
<container class='siz40'>
  <div>
    <% @beers.each do |beer| %>
      <div class="list-group-item">
        <ul class="food">
          <li><%= link_to(beer.name, beer_path(beer.id))%></li>
        </ul>
      </div>
    <% end %>
  </div>
</container>
<container class='siz40'>
  <div>Some groovy Stuff about beer</div>
</container>