<h2>Beers - Show Page</h2>
<container class='siz20'>
  <div>
    <p>Container One One to put the image in</p>
  </div>
</container>
<container class='siz40'>
  <div>
    <p>Brewery: <%= @beer.brewer %></p>
    <p>Name   : <%= @beer.name %></p>
    <p>ABV    : <%= @beer.abv %></p>
  </div>
</container>
<container class='siz40'>
  <div>
    <p>Container three to put groovy stuff in</p>
  </div>
</container>