// Place all the styles related to the Food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { 
  background: url(back-ground-2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav {
  display: inline-block;
  color:yellow;
  width:45%;
  height: 15%;
  text-align: center;
  vertical-align: bottom;
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}
.nav_menu {
  display: inline-block;
  height:24px;
  width:130px;
  background-color: #cdb570;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 13px;
  text-align: center;
  padding:5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}
.siz30l {
  padding:2%;
  display: inline-block;
  width:30%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.siz30r {
  padding:2%;
  display: inline-block;
  width:30%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.siz40l {
  padding:2%;
  display: inline-block;
  width:40%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.siz40r {
  padding:2%;
  display: inline-block;
  width:40%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  // color:white;
}
.siz60l {
  padding:2%;
  display: inline-block;
  width:60%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.siz60r {
  padding:2%;
  display: inline-block;
  width:60%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.img15 {
  padding:2%;
  display: inline-block;
  width:15%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
