// Place all the styles related to the Food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav_menu {
  display: inline-block;
  height:24px;
  width:130px;
  background-color: #cdb570;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 13px;
  text-align: center;
  padding:5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}
.siz40 {
  display: inline-block;
  width:40%;
  vertical-align: top;
}