// Place all the styles related to the Food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ======================================================

// ======================================================
html { 
  background: url(back-ground-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  height: 10%;
}
body {
  font-family: arial;
}
p {
  font-size: 20px;
  color:#e5cda9;
  text-shadow: 0px 1px 1px #000;
}
.info_hdr {
  font-size: 24px;
  color: #e5cda9;
  text-shadow: 0px 1px 1px #000;
}
.page_title {
  text-align: bottom;
  font-size: 58px;
  margin-right: 3%;
  color:#d0a962;
  text-shadow: 3px 2px 1px #000;
}
.page_hdr {
  font-size: 46px;
  margin-left: 3%;
  color:#d0a962;
  text-shadow: 1px 2px 2px #000;
}

.input_label {
  font-size: 20px;
  color: #d0a962;
  text-shadow: 0px 1px 1px #000;
}
.input1 {
  padding: 3px 3px 3px 3px;
  margin-bottom: 5px;
  border: 2px;
  border-style: solid;
  border-color: #d0a962;
  background: rgba(40, 50, 60, 0.4);
  z-index: 2;
  font-size: 20px;
  color: #d0a962;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}

.ul_list {
  list-style-type: none;
  padding:0;
  margin:0;
}
.link_line {
  display:block;
  background:#d9d9d9;
  width:200px;
  text-decoration:none;
  padding:4px/*padding for top, bottom*/ 7px /*padding for left, right*/;
  border-bottom:1px solid #eeeeee;
  border-top:1px solid #cccccc;
  border-left:5px solid #333333;
  color:#d0a962;
  background-color: rgba(50,60,70,0.7);
}

.link_line:hover {
  border-left-color:#f3e2c4;
  color:#523a14;
  // background:#c4c4c4;
  background:#d0a962;
}

.nav {
  display: inline-block;
  color:yellow;
  width:45%;
  height: 70px;
  text-align: bottom;
  vertical-align: center;
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.nav_menu {
  display: inline-block;
  height:24px;
  width:130px;
  background-color: #cdb570;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 13px;
  text-align: center;
  padding:5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}

.nav_menu:hover {
    background-color: #d5c28b;
    width:132px;
  -webkit-box-shadow: 0 13px 10px -10px black;
   -moz-box-shadow: 0 13px 10px -10px black;
        box-shadow: 0 13px 10px -8px black;
}

.siz30l {
  width:30%;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #714f19;
  border-radius: 8px;
  // =======
  color: #f3e2c4;
  background-color: rgba(50,60,70,0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
  // =======
}
.siz30r {
  width:30%;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #714f19;
  border-radius: 8px;
  // =======
  color: #f3e2c4;
  background-color: rgba(50,60,70,0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
  // =======
}
.siz40l {
  width:40%;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #714f19;
  border-radius: 8px;
  // =======
  color: #f3e2c4;
  background-color: rgba(50,60,70,0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
  // =======
}
.siz40r {
  width:40%;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #714f19;
  border-radius: 8px;
  // =======
  color: #f3e2c4;
  background-color: rgba(50,60,70,0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
  // =======
}
.siz60l {
  width:60%;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #714f19;
  border-radius: 8px;
  // =======
  color: #f3e2c4;
  background-color: rgba(50,60,70,0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
  // =======
}
.siz60r {
  width:60%;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #714f19;
  border-radius: 8px;
  // =======
  color: #f3e2c4;
  background-color: rgba(50,60,70,0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
  // =======
}
.img15 {
  padding:2%;
  display: inline-block;
  width:15%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
